<div *ngIf="!logged">
  <!-- <h1>Login form</h1>
  <p>Username: <input type="text" [(ngModel)]="username"></p>
  <p>Password: <input type="text" [(ngModel)]="password"></p>

  <button (click)="login()">Login</button> -->
  <div class="login">
    <form action="" >
      <div class="imgcontainer">
        <h3>Login</h3>
      </div>
    
      <div class="container">
        <label for="uname" id="uname"><b>Username</b></label>
        <input type="text" [(ngModel)]="username" name="uname" required id="us">
    
        <label for="psw" id="psw"><b>Password</b></label>
        <input type="password" [(ngModel)]="password" name="psw" required id="ps">
        <button (click)="login()">Log In</button>
          
      </div>
    </form>
  </div>
</div>

<div class="wrapper" *ngIf="logged">
    <a [routerLink]= "'/films/'" class="nav"> <p> All Films </a>
    <a [routerLink]= "'/topFilms/'" class="nav"> <p> Top Films </a>
    <!-- <a [routerLink]="'/vacancies/'" class="nav"> <p> Vacancy List </a>
    <a [routerLink]="'/vacancies/sorted/'" class="nav"> <p> Top 10 Vacancies </a> -->
  <router-outlet></router-outlet>
  <button (click)="logout()" class="logout">Logout</button>
</div>

